<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserDefaults</key>
	<dict>
		<key>NGAppAppleIDKey</key>
		<string>1016432562</string>
	</dict>
	<key>NetworkSettings</key>
	<dict>
		<key>NGBackendAddressKey</key>
		<string>https://goldsgym.ag-1.qa.netpulse.com</string>
	</dict>
	<key>ColorPalette</key>
	<dict>
		<key>DashboardItemIconTintColor</key>
		<integer>16777215</integer>
		<key>DashboardItemIconHighlightedTintColor</key>
		<integer>0</integer>
		<key>DashboardItemsValueNormalColor</key>
		<real>16116010</real>
		<key>DashboardSyncButtonTitleColor</key>
		<real>16116010</real>
		<key>DashboardSyncButtonBackgroundColor</key>
		<real>1644825</real>
		<key>LinkExistingXIDButtonBackgroudColor</key>
		<real>8947848</real>
		<key>DashboardItemsValueHighlightedColor</key>
		<integer>0</integer>
		<key>DashboardItemsTitleNormalColor</key>
		<integer>16777215</integer>
		<key>DashboardItemsTitleHighlightedColor</key>
		<integer>0</integer>
		<key>DashboardBoxNormalColor</key>
		<integer>0</integer>
		<key>DashboardBoxHighlightedColor</key>
		<real>16770048</real>
		<key>DashboardOverlayMenuBackgroundColor</key>
		<integer>15198183</integer>
		<key>DashboardOverlayMenuCellSelectedColor</key>
		<integer>13355979</integer>
		<key>DashboardOverlayMenuSeparatorColor</key>
		<integer>14079702</integer>
		<key>DashboardOverlayMenuCellTextColor</key>
		<integer>0</integer>
		<key>GoalCenterTitleColor</key>
		<integer>16777215</integer>
		<key>GoalCenterTitleViewColor</key>
		<integer>3618615</integer>
		<key>GoalCenterSeparatorColor</key>
		<real>16777215</real>
		<key>GoalCenterCornerLabelsColor</key>
		<integer>16777215</integer>
		<key>GoalCenterProgressTitleColor</key>
		<real>16777215</real>
		<key>GoalCenterProgressFinishedTextColor</key>
		<integer>0</integer>
		<key>GoalCenterProgressRestTextColor</key>
		<real>16777215</real>
		<key>GoalCenterViewColor</key>
		<integer>0</integer>
		<key>GoalCenterProgressStrokeColor</key>
		<real>13487565</real>
		<key>GoalCenterProgressBarColor</key>
		<integer>16770049</integer>
		<key>GoalCenterCompletionLabelColor</key>
		<real>16312359</real>
		<key>GoalCenterYouDidItColor</key>
		<real>16777215</real>
		<key>NavigationBarTintColor</key>
		<real>16777215</real>
		<key>NavigationTintColor</key>
		<integer>0</integer>
		<key>NavigationTextColor</key>
		<real>16777215</real>
		<key>CommonTextColor</key>
		<integer>16777215</integer>
		<key>CommonTextHighlightedColor</key>
		<integer>16773632</integer>
		<key>SegmentedControlTintColor</key>
		<real>2302755</real>
		<key>SegmentedControlBackgroundColor</key>
		<real>16312359</real>
		<key>SegmentedControlTintColorIOS6</key>
		<real>2302755</real>
		<key>SegmentedControlBackgroundColorIOS6</key>
		<real>16312359</real>
		<key>ButtonCommon1ColorNormal</key>
		<real>16770048</real>
		<key>ButtonCommon1ColorHighlighted</key>
		<real>16768512</real>
		<key>ButtonCommon1TextColor</key>
		<integer>0</integer>
		<key>ButtonCommon2ColorNormal</key>
		<real>10066329</real>
		<key>ButtonCommon2ColorHighlighted</key>
		<integer>8289661</integer>
		<key>ButtonCommon2TextColor</key>
		<integer>0</integer>
		<key>ButtonCommon3ColorNormal</key>
		<real>16770048</real>
		<key>ButtonCommon3ColorHighlighted</key>
		<real>16768512</real>
		<key>WelcomeButtonsBackgroundViewColor</key>
		<integer>0</integer>
		<key>RewardsCellExpandedViewColor</key>
		<integer>2631720</integer>
		<key>RewardsEarningRulesHelpLabelsTextColor</key>
		<integer>2631720</integer>
		<key>RewardsPointsLabelTextColor</key>
		<real>16377896</real>
		<key>RewardsProgressCircleFinishedColor</key>
		<integer>14311450</integer>
		<key>RewardsProgressCircleRestColor</key>
		<integer>15000804</integer>
		<key>RewardsNoDataLabelColor</key>
		<integer>16777215</integer>
		<key>LeaderboardPersonalCellColor</key>
		<real>14708011</real>
		<key>AboutTextColor</key>
		<integer>16777215</integer>
		<key>InAppTourPageControlSelectedColor</key>
		<real>16773632</real>
		<key>InAppTourPageControlColor</key>
		<integer>16777215</integer>
		<key>InAppTourColor</key>
		<real>16773632</real>
	</dict>
	<key>DynamicDashboardItems</key>
	<array>
		<string>findAClass</string>
		<string>workouts</string>
		<string>challenges</string>
		<string>locateAGym</string>
		<string>recordWorkout</string>
		<string>goalCenter</string>
		<string>deals</string>
		<string>clubNews</string>
		<string>social</string>
		<string>socialMedia</string>
	</array>
	<key>DashboardItemsBackground</key>
	<dict>
		<key>social</key>
		<string>bg_dashboard_club_feed</string>
		<key>accountLinking</key>
		<string>bg_dashboard_connected_apps</string>
		<key>clubNews</key>
		<string>bg_dashboard_coolstuff</string>
		<key>workouts</key>
		<string>bg_dashboard_workouts</string>
		<key>recordWorkout</key>
		<string>bg_dashboard_record_workout</string>
		<key>socialMedia</key>
		<string>bg_dashboard_social_media</string>
		<key>goalCenter</key>
		<string>bg_dashboard_goals</string>
		<key>challenges</key>
		<string>bg_dashboard_challenges</string>
		<key>deals</key>
		<string>bg_dashboard_deals</string>
		<key>findAClass</key>
		<string>bg_dashboard_find_class</string>
		<key>myAccount</key>
		<string>bg_dashboard_my_account</string>
		<key>goldsGymChallenge</key>
		<string>bg_dashboard_goldsGymChallenge</string>
		<key>cycleReservationsOld</key>
		<string>bg_dashboard_cycle_reservations</string>
		<key>cycleOld</key>
		<string>bg_dashboard_cycle_reservations</string>
		<key>goldsStudio</key>
		<string>bg_dashboard_cycle_reservations</string>
		<key>fitnessCenter</key>
		<string>bg_dashboard_fitness_center</string>
		<key>rewards</key>
		<string>bg_dashboard_rewards</string>
	</dict>
	<key>DynamicInAppTourItems</key>
	<array>
		<string>accountLinking</string>
		<string>workouts</string>
		<string>social</string>
		<string>challenges</string>
		<string>goalCenter</string>
		<string>recordWorkout</string>
	</array>
	<key>OtherUserFeatures</key>
	<array/>
	<key>FeaturesPreferences</key>
	<dict>
		<key>socialMedia</key>
		<dict>
			<key>contents</key>
			<array>
				<dict>
					<key>title</key>
					<string>FACEBOOK</string>
					<key>url</key>
					<string>https://www.facebook.com/goldsgym</string>
				</dict>
				<dict>
					<key>title</key>
					<string>YOUTUBE</string>
					<key>url</key>
					<string>http://www.youtube.com/user/GoldsGymChannel</string>
				</dict>
				<dict>
					<key>title</key>
					<string>TWITTER</string>
					<key>url</key>
					<string>https://twitter.com/GoldsGym</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
