<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>qq机构</string>
		<key>detailArray</key>
		<array>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>微信</string>
		<key>detailArray</key>
		<array>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>微博</string>
		<key>detailArray</key>
		<array>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
			<dict>
				<key>checkintime</key>
				<string>2015-4-2</string>
				<key>uploadtime</key>
				<string>2015-1-1</string>
				<key>orgname</key>
				<string>慈铭体检</string>
				<key>name</key>
				<string>战三</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
